---
import StoryStudioStyles from './StoryStudioStyles.astro';
---
<div id="storyStudioRoot" hidden aria-hidden="true"></div>
<StoryStudioStyles />
<script>
  import { attachStoryStudioLazyBoot } from '../../lib/storyStudio/storyStudioLazyBoot.mjs';
  attachStoryStudioLazyBoot();
</script>
