---
/** 小说管理：多部小说列表，打开 / 重命名 / 删除 / 导出 TXT */
---
<div class="panel story-studio-panel" data-story-panel="manage">
  <h2>小说管理</h2>
  <p class="ss-tip">一张卡可创建多部小说。导出 TXT 在每部的操作栏中。</p>
  <div class="ss-toolbar">
    <button type="button" id="btnSsNewNovel" class="btn btn-fetch">新建小说</button>
  </div>
  <div id="ssNovelList" class="ss-novel-list"></div>
  <div id="ssManageStatus" class="ss-status"></div>
</div>
